 
  .navbar{
    background-color: rgb(132, 150, 252);
    color: white;
    font-weight: 100px;
  }
  .footer{
    background-color: rgb(132, 150, 252);
    color: white;
    
  }
  .white-icons .bi {
    color: white;
  }
  