<nav class="navbar navbar-expand-lg navbar-dark  ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/dpulselogo.webp" alt="Logo" style="background-color: transparent;" height="50px">
    </a>     
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/homepage" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="flag">
          <a class="nav-link active" routerLink="/adminpage" routerLinkActive="active">Doctors Details</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link active" routerLink="/doctordetails" routerLinkActive="active">Specialist</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link active" routerLink="/appointment" routerLinkActive="active">Appointment</a>
        </li>
        <li class="nav-item mb-3" *ngIf="flag || flaguser" >
          <a class="nav-link active" routerLink="/user" routerLinkActive="active">User Details</a>
        </li>
        <li class="nav-item mb-3" *ngIf="flag">
          <a class="nav-link active" routerLink="/approve" routerLinkActive="active">Approval</a>
        </li>
        <li class="nav-item mb-3" *ngIf="flag">
          <a class="nav-link active" routerLink="/count" routerLinkActive="active">Patient Doctor Statistics</a>
        </li>
        <li class="nav-item mb-3" >
          <a class="nav-link active" routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 
  
<div class="container form-container">
<div class="row">
 
    <div *ngIf="flag">
      <ul class="nav flex-column">
        <li class="nav-item mb-3">
          <button class="btn btn-primary" (click)="toggleForm()">Add Doctor</button>
        </li>
      </ul>
    </div>
    <div class="dialog-box" id="popupAdded">

      <i class="fa fa-xmark fa-2xl"
        (click)="closePopupAr()"></i>
        <form (ngSubmit)="addOrUpdateDoctor()">
        
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newDoctor.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="specialization">Specialization</label>
            <input type="text" class="form-control" id="specialization" [(ngModel)]="newDoctor.specialization"
              name="specialization" required>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" (change)="onFileSelected($event)" accept="image/*"
              required>
          </div>
          <div class="row">
            <div class="col-lg-6 cancel">
              <button type="submit" class="btn btn-primary">{{ newDoctor.id ? 'Update' : 'Add' }}</button>
            </div>
 
          </div>
        
        </form>
   
     
  </div>

</div>


  <div class="row">
    <div *ngFor="let doctor of doctorList" class="col-md-4">
      <div class="card">
        <img class="card-img-top" [src]="doctor.imgPath" alt="Doctor Image">
        <div class="card-body">
          <h5 class="card-title">{{ doctor.name }}</h5>
          <p class="card-text">{{ doctor.specialization }}</p>
          <button class="btn btn-primary" style="margin-right: 150px;" (click)="updateDoctor(doctor)">Update</button>
          <button class="btn btn-danger" (click)="deleteDoctor(doctor)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  
</div>
  <footer class="footer ">
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <h5>Location</h5>
          <br>
          <p>
            <a href="https://goo.gl/maps/zjCXap3CQ7mpuA4u9" class="white-icons">
              <i class="bi bi-geo-alt-fill"></i>
            </a> Rattha Tek Meadows, Tower – A, 1st Floor
            51, Rajiv Gandhi Salai (OMR)
            Sholinganallur, Chennai – 600119
            Tamil Nadu, India
          </p>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <br>
          <p>
            <a href="#" class="white-icons">
              <i class="bi bi-phone-fill"></i>
            </a>+91 4469044000
          </p>
          <h5>Email</h5>
          <p>
            <a href="#" class="white-icons">
              <i class="bi bi-envelope-fill"></i>
            </a> transformations@kanini.com
          </p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <br>
          <ul class="list-inline white-icons">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2023 All rights reserved.</p>
    </div>
  </footer>