.appointment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* background-color: #f9f9f9; */
    background-color: rgba(255, 255, 255, 0.3); 
    margin-left: 15%;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: inherit;
    background-color: rgba(249, 249, 249, 0.8); 
  }
  
  textarea {
    height: 80px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(82, 107, 247);
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(72, 8, 247);
  }
 
  .background{
    background-image: url('../../assets/appointment1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
   
 
  .navbar{
    background-color: rgb(132, 150, 252);
    color: white;
    font-weight: 100px;
  }
  .footer{
    background-color: rgb(132, 150, 252);
    color: white;
    
  }
  .white-icons .bi {
    color: white;
  }